@model Workflows.ViewModels.SummaryViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var counter = 1;
    var count = 1;
}

<div class="row">
    <h2 style="text-align:center;">SUMMARY</h2>
    
    <h4 style="color:#326408;font-weight:700;">1. Intern Details</h4>
    <hr />
    <div class="col-md-6">
        <h6><strong>First Name: </strong>  @Model.Intern.Firstname</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>Last Name: </strong>  @Model.Intern.Lastname</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>ID Number:</strong>  @Model.Intern.Idnumber</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>Email:</strong>  @Model.Intern.Email</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>Phone Number:</strong> @Model.Intern.PhoneNumber</h6>
    </div>
    <hr style="visibility:hidden;" />


    <h4 style="color:#326408;font-weight:700;">2. Requisition Details</h4>
    <hr />
    <div class="col-md-6">
        <h6><strong>Department:</strong>  @Model.DepartmentName</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>Station:</strong>  @Model.Requisition.Station</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>Start Date:</strong> @Model.Requisition.Start_Date.ToShortDateString()</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>End Date:</strong> @Model.Requisition.End_Date.ToShortDateString()</h6>
     </div>
    <hr style="visibility:hidden;" />


    
    <hr style="visibility:hidden;" />

    <h4 style="color:#326408;font-weight:700;"> 3. Documents</h4>
    <hr />
    <div class="col-md-8">
    <table class="table">
        <thead style="border-bottom:1px solid #dee2e6;">
            <tr>
                <th style="font-size: 1rem; font-weight: bold; margin: 0;">No.</th>
                <th style="font-size: 1rem; font-weight: bold; margin: 0;">Document Type</th>
                <th style="font-size: 1rem; font-weight: bold; margin: 0;">Document Name</th>
                <th style="font-size: 1rem; font-weight: bold; margin: 0;">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int docCount = 1;
            }
            @foreach (var doc in Model.DocumentList)
            {
                <tr>
                    <td>@(docCount++)</td>
                    <td>@doc.DocumentType?.DocumentName</td>
                    <td>@doc.Document.FileName</td>
                    <td> </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

    <h4 style="color:#326408;font-weight:700;">4. Approval Steps</h4>
    <hr />
    <div class="col-md-7">
        <table class="table">
            <thead style="border-bottom:1px solid #dee2e6;">
                <tr>
                    <th style="font-size: 1rem; font-weight: bold; margin: 0;">Step</th>
                    <th style="font-size: 1rem; font-weight: bold; margin: 0;">Approval Step</th>
                    <th style="font-size: 1rem; font-weight: bold; margin: 0;">Status</th>
                    <th style="font-size: 1rem; font-weight: bold; margin: 0;">Employee</th>
                    <th style="font-size: 1rem; font-weight: bold; margin: 0;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var approvalViewModel in Model.ApprovalSteps)
                {
                    <tr>
                        <td>@approvalViewModel.Approval.StepNumber</td>
                        <td>@approvalViewModel.Approval.ApprovalStep</td>
                        <td> @approvalViewModel.Approval.ApprovalStatus</td>
                        <td>@approvalViewModel.EmployeeName</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   

    <form asp-controller="RequisitionWizard" asp-action="CompleteWizard" method="post">
        <!-- Add the wizard buttons-->
        <partial name="_WizardBottom" />
    </form>
</div>


