@model List<Approval>


<form asp-controller="RequisitionWizard" asp-action="CreateApproval">
    <div class="row">
        <div class="col-md-12">
    <ul class="bullet-line-list">
    @{
        var counter = 1;
    }
         @foreach (var approvalStep in Model)
    {
        <li>

            <div class="d-flex justify-content-between">
                <div class="col-md-6">
                    <h5 class="text-information"><b>@approvalStep.StepNumber. Approval Step:</b> @approvalStep.ApprovalStep </h5>
                    <hr />
                    <p class="text-muted mb-2 fw-bold"><b>UPDATED ON:</b> @approvalStep.CreatedAt </p>
                    <p class="text-muted"><b>APPROVAL BY:</b>
                                    @if (ViewBag.EmployeeNames.ContainsKey(approvalStep.PayrollNo))
                                    {
                                        @ViewBag.EmployeeNames[approvalStep.PayrollNo]
                                    }
                                    else
                                    {
                                        @approvalStep.PayrollNo
                                    }
                        </p>
                    <p class="text-muted"><b>STATUS:</b>  @approvalStep.ApprovalStatus </p>
                </div>
                <div class="d-flex">
                                
               
                        
                </div>
            </div>
        </li>
        }
     
    </ul>
    </div>
<!-- Add the wizard buttons-->
<partial name="_WizardBottom" />
</div>
</form>
<!-- Modal -->
<div class="modal fade" id="editApproverModal" tabindex="-1" role="dialog" aria-labelledby="editApproverModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editApproverModalLabel">Edit Approver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form will be loaded here -->
            </div>
        </div>
    </div>
</div>
