@model Workflows.ViewModels.SummaryViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var counter = 1;
    var count = 1;
}

<div class="row">
    <h2 style="text-align:center;">SUMMARY</h2>
    
    <h4 style="color:#326408;font-weight:700;">1. Intern Details</h4>
    <hr />
    <div class="col-md-6">
        <h6><strong>First Name: </strong>  @Model.Intern.Firstname</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>Last Name: </strong>  @Model.Intern.Lastname</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>ID Number:</strong>  @Model.Intern.Idnumber</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>Email:</strong>  @Model.Intern.Email</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>Phone Number:</strong> @Model.Intern.PhoneNumber</h6>
    </div>
    <hr style="visibility:hidden;" />


    <h4 style="color:#326408;font-weight:700;">2. Requisition Details</h4>
    <hr />
    <div class="col-md-6">
        <h6><strong>Department:</strong>  @Model.DepartmentName</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>Station:</strong>  @Model.Requisition.Station</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>Start Date:</strong> @Model.Requisition.Start_Date.ToShortDateString()</h6>
    </div>
    <div class="col-md-6">
        <h6><strong>End Date:</strong> @Model.Requisition.End_Date.ToShortDateString()</h6>
     </div>
    <hr style="visibility:hidden;" />

    <h4 style="color:#326408;font-weight:700;">3. Approval Steps</h4>
    <hr />
    @foreach (var approvalViewModel in Model.ApprovalSteps)
    {
        <h6> 
             <strong>Step @(counter++).:</strong> @approvalViewModel.Approval.ApprovalStep -&nbsp; 
            <strong>Status:</strong> @approvalViewModel.Approval.ApprovalStatus - 
            <strong>Employee:</strong> @approvalViewModel.EmployeeName
        </h6>
    }
    <hr style="visibility:hidden;" />

    <h4 style="color:#326408;font-weight:700;"> 4. Documents</h4>
    <hr />
    @foreach (var doc in Model.DocumentList)
    {
         <h6> 
                <strong>Document Name:</strong> @doc.DocumentType?.DocumentName -&nbsp; 
                <strong>Status:</strong> @doc.Document.FileName - 
                <strong>File Type:</strong> @doc.Document.FileType
        </h6>

    }

    <form asp-controller="RequisitionWizard" asp-action="CompleteWizard" method="post">
        <!-- Add the wizard buttons-->
        <partial name="_WizardBottom" />
    </form>
</div>


