@model Workflows.ViewModels.SummaryViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var counter = 1;
    var count = 1;
}

<div class="row">
    <h2 style="text-align:center;">SUMMARY</h2>
    
    <h4>1. Intern Details</h4>
    <hr />
    <div class="col-md-6">
        <p><strong>FIRST NAME:</strong> @Model.Intern.Firstname</p>
    </div>
    <div class="col-md-6">
        <p><strong>LAST NAME:</strong> @Model.Intern.Lastname</p>
    </div>
    <div class="col-md-6">
        <p><strong>ID NUMBER:</strong> @Model.Intern.Status</p>
    </div>
    <div class="col-md-6">
        <p><strong>EMAIL:</strong> @Model.Intern.Email</p>
    </div>
    <div class="col-md-6">
        <p><strong>PHONE NUMBER:</strong> @Model.Intern.PhoneNumber</p>
    </div>
    <hr style="visibility:hidden;" />


    <h4>2. Requisition Details</h4>
    <hr />
    <div class="col-md-6">
        <p><strong>Department:</strong> @Model.Requisition.DepartmentCode</p>
    </div>
    <div class="col-md-6">
        <p><strong>Station:</strong> @Model.Requisition.Station</p>
    </div>
    <div class="col-md-6">
        <p><strong>Start Date:</strong> @Model.Requisition.Start_Date.ToShortDateString()</p>
    </div>
    <div class="col-md-6">
        <p><strong>End Date:</strong> @Model.Requisition.End_Date.ToShortDateString()</p>
     </div>
    <hr style="visibility:hidden;" />

    <h4>3. Approval Steps</h4>
    <hr />
    @foreach (var approval in Model.ApprovalSteps)
    {
        <p><strong>Step @(counter++).:</strong> @approval.ApprovalStep - <strong>Status:</strong> @approval.ApprovalStatus</p>
    }
    <hr style="visibility:hidden;" />

    <h4> 4. Documents</h4>
    <hr />
    @foreach (var document in Model.DocumentList)
    {
        <p><strong> @(count++). Document Type:</strong> @document.DocumentType - <strong>File Name:</strong> @document.FileName</p>
    }

    <form asp-controller="RequisitionWizard" asp-action="CompleteWizard" method="post">
        <!-- Add the wizard buttons-->
        <partial name="_WizardBottom" />
    </form>
</div>


