@model List<Approval>


<form asp-controller="RequisitionWizard" asp-action="CreateApproval">
    <div class="row">
        <div class="col-md-12">
    <ul class="bullet-line-list">
    @{
        var counter = 1;
    }
         @foreach (var approvalStep in Model)
    {
        <li>

            <div class="col-md-8 d-flex justify-content-between">
                <div class="col-md-10">
                    <h5 class="text-information"><b>@approvalStep.StepNumber. Approval Step:</b> @approvalStep.ApprovalStep </h5>
                    <hr />
                    <p class="text-muted mb-2 fw-bold"><b>UPDATED ON:</b> @approvalStep.CreatedAt </p>
                    <p class="text-muted"><b>APPROVAL BY:</b>
                                    @if (ViewBag.EmployeeNames.ContainsKey(approvalStep.PayrollNo))
                                    {
                                        @ViewBag.EmployeeNames[approvalStep.PayrollNo]
                                    }
                                    else
                                    {
                                        @approvalStep.PayrollNo
                                    }
                        </p>
                                <div class="col-md-8">
                                    @if (approvalStep.StepNumber == 1)
                                    {
                                        <div class="form-group">
                                   
                                            @if (ViewBag.EmployeeSelects.ContainsKey(approvalStep.ApprovalStep))
                                            {
                                                @Html.DropDownList($"ApprovalSteps[{approvalStep.ApprovalStep}].PayrollNo",
                                                         (SelectList)ViewBag.EmployeeSelects[approvalStep.ApprovalStep],
                                                         new { @class = "formcontrol2" })
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" value="@approvalStep.PayrollNo" readonly />
                                            }
                                            
                                        </div>
                                    }
                                </div>
                    <p class="text-muted"><b>STATUS:</b>  @approvalStep.ApprovalStatus </p>
                </div>
                <div class="d-flex">
                                @if (approvalStep.StepNumber == 1)
                                {
                                    <a href="" id="ëdit" class=""><i class="mdi mdi-lead-pencil mdi-24px text-primary"></i></a>
                                }


                            </div>
            </div>
        </li>
        }
     
    </ul>
    </div>
<!-- Add the wizard buttons-->
<partial name="_WizardBottom" />
</div>
</form>
<!-- Modal -->


