
@model Workflows.Models.Requisition
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<form asp-controller="RequisitionWizard" asp-action="CreateRequisition">
<div class="row">
    <div class="col-md-5">
       
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DepartmentCode" class="control-label"></label>  <span class="requiredlabel">*</span>
                <select asp-for="DepartmentCode" class="formcontrol2" asp-items="ViewBag.DepartmentItems">
                    <option value="@ViewBag.DepartmentCode"> @ViewBag.DepartmentName</option>
                </select>
                <span asp-validation-for="DepartmentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intern_id" class="control-label"></label>  <span class="requiredlabel">*</span>
                <select asp-for="Intern_id" class="formcontrol2">
                    <option value="@ViewBag.Intern_id">   @ViewBag.InternFirstname @ViewBag.InternLastname</option>
                </select>
                <span asp-validation-for="Intern_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Station" class="control-label"></label>  <span class="requiredlabel">*</span>
                <select asp-for="Station" class="formcontrol2">
                    <option value="">-- Select Station --</option>
                    <option value="HQ">HQ</option>
                    <option value="Factory">Factory</option>
                </select>
                <span asp-validation-for="Station" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start_Date" class="control-label"></label> <span class="requiredlabel">*</span>
                <input asp-for="Start_Date" class="form-control" value=" @DateTime.Now" />
                <span  asp-validation-for="Start_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End_Date" class="control-label"></label> <span class="requiredlabel">*</span>
                <input asp-for="End_Date" class="form-control" value=" @DateTime.Now" />
                <span asp-validation-for="End_Date" class="text-danger"></span>
            </div>

       
    </div>
        <!-- Add the wizard buttons-->
        <partial name="_WizardBottom" />
</form>
</div>
