@model IEnumerable<Workflows.Models.Document>

@{
    ViewData["Title"] = "Index";
}


<a asp-action="Create" class="btn btn-primary text-white mb-0 me-0  float-end">
    <div style="display: flex; align-items: center;">
        <i class="mdi mdi-plus-circle-outline" style="margin-right: 5px;"></i>
        <span>  Create New</span>
    </div>
</a>
<div style="clear: both;"></div>

<table id="table"
       data-toggle="table"
       data-icon-size="sm"
       data-buttons-class="primary"
       data-toolbar-align="right"
       data-buttons-align="left"
       data-search-align="left"
       data-sort-order="asc"
       data-search="true"
       data-mobile-responsive="true"
       data-sticky-header="true"
       data-pagination="true"
       data-page-list="[100, 200, 250, 500, ALL]"
       data-page-size="100"
       data-show-footer="false"
       data-side-pagination="client"
       data-show-export="true"
       class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requisition_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intern_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Requisition_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intern_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="mdi mdi-eye mdi-24px text-warning"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-lead-pencil mdi-24px text-primary"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="mdi mdi-delete mdi-24px text-danger"></i></a>
                </td>
        </tr>
}
    </tbody>
</table>
