@model IEnumerable<Workflows.Models.Approval>

@{
    ViewData["Title"] = "Index";
    // Roles allowed to view admin functions. Add roles below to the roles Array//
    // Roles available are "Admin","HR", "Hod", "supervisor","user","2_step_mgrs","2_step_secs","FieldUser","FieldSupervisor"
    var rolesArray = new[] { "Admin","HR" };
    var roles = string.Join(",", rolesArray);
}



<a asp-action="Create" class="btn btn-primary text-white mb-0 me-0  float-end">
    <div style="display: flex; align-items: center;">
        <i class="mdi mdi-plus-circle-outline" style="margin-right: 5px;"></i>
        <span>  Create New</span>
    </div>
</a>
<div style="clear: both;"></div>

<table id="table"
       data-toggle="table"
       data-icon-size="sm"
       data-buttons-class="primary"
       data-toolbar-align="right"
       data-buttons-align="left"
       data-search-align="left"
       data-sort-order="asc"
       data-search="true"
       data-mobile-responsive="true"
       data-sticky-header="true"
       data-pagination="true"
       data-page-list="[100, 200, 250, 500, ALL]"
       data-page-size="100"
       data-show-footer="false"
       data-side-pagination="client"
       data-show-export="true"
       class="table table-bordered">
    <thead>
        <tr>
            <th>
                Req ID
            </th>
            <th>
               Department - Intern
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ApprovalStep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayrollNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grouping in Model.GroupBy(a => a.Requisition_id))
        {
            int rowSpan = grouping.Count();
            var firstItem = grouping.First();
            int stepCounter = 1; // Initialize the counter for approval steps
            var lastRowStyle = "border-bottom:3px solid #b0b7bd";  // Style to apply to the last row of each group

            <tr >
                <td rowspan="@rowSpan" style="border-right:2px solid #dee2e6">
                    @firstItem.Requisition_id
                </td>
                <td rowspan="@rowSpan" style="border-right:2px solid #dee2e6">
                    @foreach (var department in ViewBag.Departments)
                    {
                        if (department.DepartmentCode == firstItem.DepartmentCode)
                        {
                            @department.DepartmentName
                        }
                    }
                    <br/><br/>
                    <!-- INTERN DATA-->
                    @(ViewBag.InternNames.ContainsKey(firstItem.Requisition_id) ? ViewBag.InternNames[firstItem.Requisition_id] : "InternUser")
                </td>
           
                <td>
                    @stepCounter.  @Html.DisplayFor(modelItem => firstItem.ApprovalStep)
                </td>
                <td>
                    @(ViewBag.EmployeeNames.ContainsKey(firstItem.PayrollNo) ? ViewBag.EmployeeNames[firstItem.PayrollNo] : "DeptUserMissing")
                  
                </td>
                <td>
         
                    <span style="margin-right:8px" class="badge @(
                        firstItem.ApprovalStatus switch
                        {
                            "Pending" => "badge-warning",
                            "Not Started" => "badge-information",
                            "Approved" => "badge-active",
                            "Rejected" => "badge-danger",
                            "Cancelled" => "badge-light",
                            _ => "badge-secondary"
                        })">
                        @Html.DisplayFor(modelItem => firstItem.ApprovalStatus)
                    </span>
                        <!-- SHOW THE APPROVAL OPTION IF STATUS IS PENDING-->
                        @if (firstItem.ApprovalStatus == "Pending")
                        {
                        <a class="text-primary" asp-controller="Requisitions" asp-action="Details" asp-route-id="@firstItem.Requisition_id" data-bs-toggle="tooltip" data-placement="top" data-bs-original-title="Make Approval">
                            <i class="mdi mdi-check-circle mdi-24px text-primary" style="vertical-align: middle;"></i> APPROVE
                            </a>
                        }
                    @if (firstItem.ApprovalStatus == "Rejected")
                    {
                    <br />
                    <p class="text-wrap pt-1"
                       style="width:250px;">
                            <b>Comment:</b>
                        @Html.DisplayFor(modelItem => firstItem.ApprovalComment)
                    </p>
                    }
                  
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => firstItem.UpdatedAt)
                </td>
                <td>
                   
                    <a asp-action="Details" asp-route-id="@firstItem.Id"><i class="mdi mdi-eye mdi-24px text-warning"></i></a>
                    <a asp-authorize-role="@roles" asp-action="Edit" asp-route-id="@firstItem.Id"><i class="mdi mdi-lead-pencil mdi-24px text-primary"></i></a>
                    <a asp-authorize-role="@roles" asp-action="Delete" asp-route-id="@firstItem.Id"><i class="mdi mdi-delete mdi-24px text-danger"></i></a>
                </td>
            </tr>

            @foreach (var item in grouping.Skip(1))
            {
                stepCounter++; // Increment the counter for each subsequent item
                <tr style="@(item == grouping.Last() ? lastRowStyle : "")">
                    <td>
                        @stepCounter.  @Html.DisplayFor(modelItem => item.ApprovalStep)
                    </td>
                    <td>
                        @(ViewBag.EmployeeNames.ContainsKey(item.PayrollNo) ? ViewBag.EmployeeNames[item.PayrollNo] : "DeptUserMissing")
                       
                    </td>
                    <td>
                        <span style="margin-right:8px" class="badge @(
                        item.ApprovalStatus switch
                        {
                            "Pending" => "badge-warning",
                            "Not Started" => "badge-information",
                            "Approved" => "badge-active",
                            "Rejected" => "badge-danger",
                            "Cancelled" => "badge-light",
                            _ => "badge-secondary"
                        })">
                            @Html.DisplayFor(modelItem => item.ApprovalStatus)
                        </span>
                        <!-- SHOW THE APPROVAL OPTION IF STATUS IS PENDING-->
                        @if (item.ApprovalStatus == "Pending")
                        {
                            <a class="text-primary" asp-controller="Requisitions" asp-action="Details" asp-route-id="@item.Requisition_id" data-bs-toggle="tooltip" data-placement="top" data-bs-original-title="Make Approval">
                                <i class="mdi mdi-check-circle mdi-24px text-primary" style="vertical-align: middle;"> </i> APPROVE
                            </a>
                        }
                        @if (firstItem.ApprovalStatus == "Rejected")
                        {
                        <br />
                        <p class="text-wrap pt-1"
                           style="width:200px;" >
                            @Html.DisplayFor(modelItem => item.ApprovalComment)
                        </p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="mdi mdi-eye mdi-24px text-warning"></i></a>
                        <a asp-authorize-role="@roles" asp-action="Edit" asp-route-id="@item.Id"><i class="mdi mdi-lead-pencil mdi-24px text-primary"></i></a>
                        <a asp-authorize-role="@roles" asp-action="Delete" asp-route-id="@item.Id"><i class="mdi mdi-delete mdi-24px text-danger"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>

