@model IEnumerable<Workflows.Models.EmployeeBkp>

@{
    ViewData["Title"] = "Index";
    // Roles allowed to view admin functions. Add roles below to the roles Array//
    // Roles available are "Admin","HR", "Hod", "supervisor","user","2_step_mgrs","2_step_secs","FieldUser","FieldSupervisor"
    var rolesArray = new[] { "Admin", "HR" };
    var roles = string.Join(",", rolesArray);
}



<a asp-authorize-role="@roles" asp-action="Create" class="btn btn-primary text-white mb-0 me-0  float-end">
    <div style="display: flex; align-items: center;">
        <i class="mdi mdi-plus-circle-outline" style="margin-right: 5px;"></i>
        <span>  Create New</span>
    </div>
</a>
<div style="clear: both;"></div>
<div class=" table-responsive" id="dataTable">
    <table id="table"
           data-toggle="table"
           data-icon-size="sm"
           data-buttons-class="primary"
           data-toolbar-align="right"
           data-buttons-align="left"
           data-search-align="left"
           data-sort-order="asc"
           data-search="true"
           data-mobile-responsive="true"
           data-sticky-header="true"
           data-pagination="true"
           data-page-list="[100, 200, 250, 500, ALL]"
           data-page-size="100"
           data-show-footer="false"
           data-side-pagination="client"
           data-show-export="true"
           class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpisCurrActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Station)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpisCurrActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
