
@{
    ViewData["Title"] = "Create Requisition Wizard";
    var currentStep = ViewBag.CurrentStep as string;
}


<div>
    <hr />
    <!-- progressbar -->
    <ul id="progressbar">
        @foreach (var step in ViewBag.Steps)
        {
            <li class="@(step == ViewBag.Steps[0] ? "active" : "")" id="step@(ViewBag.Steps.IndexOf(step))">
                <strong>@(ViewBag.Steps.IndexOf(step) + 1). Create @step</strong>
            </li>
        }
    </ul>
</div>
<div id="stepContent">
 @{
        switch (ViewBag.CurrentStep)
            {
                case "Intern":
                    <partial name="_CreateInternForm" />
                    break;
                case "Requisition":
                    <partial name="_CreateRequisitionForm" />
                    break;
                case "Approvals":
                    <partial name="_CreateApprovalForm" />
                    break;
                case "Documents":
                    <partial name="_CreateDocumentForm" />
                    break;
                case "Summary":
                    <partial name="_CreateSummaryForm" />
                    break;
                // Add other cases as needed
                
            }
        }
  </div>



@section Scripts {
    <script>
        $(function () {
         
            var steps = @Html.Raw(Json.Serialize(ViewBag.Steps));
            var currentStep = steps.indexOf('@ViewBag.CurrentStep');

           
            
            // Set the active tab initially
            $("#step" + currentStep).addClass("active");
            // Add 'complete' class to all previous steps
            for (var i = 0; i < currentStep; i++) {
                $("#step" + i).addClass("complete");
            }
            $(".nextbutton").click(function () {
                     // Perform form validation if on the "Documents" step
                    if (steps[currentStep] === "Documents") {
                        if (!validateFiles()) {
                            return false; // Prevent moving to the next step if validation fails
                        }
                    }
               
                if (currentStep < steps.length - 1) {
                    $("#step" + currentStep).removeClass("active").addClass("complete");
                    currentStep++;
                    $("#step" + currentStep).addClass("active");
                    updateNavButtons();
                    // Load the partial view for the next step
                   // alert(steps[currentStep]);
                }
            });

            $(".wizardpreviousBtn").click(function () {
                if (currentStep > 0) {
                    $("#step" + currentStep).removeClass("active");
                    currentStep--;
                    $("#step" + currentStep).addClass("active").removeClass("complete");
                    updateNavButtons();
                    // Load the partial view for the previous step
                    // Redirect to the previous step
                    window.location.href = '/RequisitionWizard/' + steps[currentStep];
                }
            });

            function updateNavButtons() {
                if (currentStep === 0) {
                    $(".wizardpreviousBtn").hide();
                } else {
                    $(".wizardpreviousBtn").show();
                }

                if (currentStep === steps.length - 1) {
                    $(".nextbutton").html('<i class="mdi mdi-arrow-right-bold-circle mdi-24"> Complete Requisition </i>');
                    } else {
                    $(".nextbutton").html('<i class="mdi mdi-arrow-right-bold-circle mdi-24">Next Step </i>');
                    }
            }

            updateNavButtons();

        });

    </script>
}
